<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto'>
      <h4>投書いただき、ありがとうございます。</h4>
      <%= link_to "トップへ戻る", root_path %>
    </div>
  </div>
</div>