<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto'>
      <h2>投書箱</h2>
      <div>
        投書いただき、ありがとうございました！<br>
        引き続き、『古井戸に叫べ』をよろしくお願いいたします。
      </div>
    </div>
  </div>
</div>