<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/groups/info', group: @group %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div id="group_messages_<%= @group.id %>">
        <%= render "public/group_messages/message", group_messages: @group_messages, group_message: @group_message, group: @group %>
      </div>
    </div>
  </div>
</div>