<h2>フォロワー一覧</h2>

<% if @users.present? %>
  <% @users.each do |user| %>
    <div>
      <%= image_tag user.get_user_image %>
      <%= link_to "#{user.name}", public_user_path(user.id) %>
    </div>
  <% end %>
<% end %>
<div>
  <% if user_signed_in? && @user == current_user %>
    <%= link_to "マイページに戻る", public_user_path(current_user.id) %>
  <% else %>
    <%= link_to "ユーザーページに戻る", public_user_path(@user.id) %>
  <% end %>
</div>
