<h2>フォロー中のユーザー一覧</h2>

<% if @users.present? %>
  <% @users.each do |user| %>
    <div>
      <%= image_tag user.get_user_image, size:"100x100" %>
      <%= link_to "#{user.name}", public_user_path(user.id) %>
    </div>
  <% end %>
<% end %>