<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class = "about" >
        <h2>「王さまの耳はロバの耳ー！」</h2>
        <p>
          古井戸に向かって叫んだ理髪師は、胸中に王さまの秘密を抱え込む苦しさから解放され、
          王さまも「この耳は国民の声を聞くためにある」と、床屋を許します。
        </p>
        <p>
          古井戸に叫ぶことで、ここを訪れたあなたが少しでも生きやすくなることを願っています。
        </p>
      </div>
      <div class = "about" >
        <p>
          ここ「古井戸で叫べ」とは、悪口のコメントがつくことなく、匿名で自分のストーリーを投稿できます。
        </p>
        <p>
          ストーリーをお気に入り登録したり、選択式のコメントを送ったり、好きなユーザーをフォローして、後から見返すことができます。
        </p>
        <p>
          公開チャットルームや、グループメンバー同士という限られた範囲でのみ、自由にメッセージを送り合うこともできます。
        </p>
      </div>
      <div class = "about" >
        <p>いつでも、あなたが抱え込む思いを吐き出せるよう、古井戸はここにあります。</p>
      </div>
    </div>
  </div>
</div>