<h2>閲覧制限中のストーリー一覧</h2>
<%= link_to '有効なストーリー一覧はこちら', stories_path %>
<table class="table table-inverse white">
  <tbody>
    <% if @stories.present? %>
      <% @stories.each do |story| %>
        <tr>
          <td>
            <%= link_to "#{story.title}", story_path(story.id) %>
          </td>
          <% if story.is_deleted == false %>
            <td>有効</td>
          <% else %>
            <td>制限中</td>
          <% end %>
          <% if admin_signed_in? %>
            <% if story.is_deleted == false %>
              <td>
                <%= link_to '閲覧制限をかける', admin_story_path(story.id), method: :patch, data: { confirm: '閲覧を制限しますか？' }, class: "btn btn-sm btn-outline-danger"%>
              </td>
            <% else %>
              <td>
                <%= link_to '制限を解除する', admin_story_path(story.id), method: :patch, data: { confirm: '制限を解除しますか？' }, class: "btn btn-sm btn-outline-success"%>
              </td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>