
<% if user_signed_in? && story.favorited_by?(current_user) %>
  <p>
    <%= link_to favorite_path(story.id), class:"favorite", method: :delete, remote: true do %>
      ♥<%= story.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to favorites_path(story.id), class:"dont_like_yet", method: :post, remote: true do %>
      ♡<%= story.favorites.count %>
    <% end %>
  </p>
<% end %>