            <% if story.favorited_by?(current_user) %>
              <P>
                <%= link_to public_favorite_path(story.id), class:"favorite", method: :delete, remote: true do %>
                  ♥<%= story.favorites.count %>
                <% end %>
              </P>
              <% else %>
              <P>
                <%= link_to public_favorites_path(story.id), class:"dont_like_yet", method: :post, remote: true do %>
                  ♡<%= story.favorites.count %>
                <% end %>
              </P>
            <% end %>