<h2><%= @user.name %>さんのお気に入りのストーリー一覧</h2>

<% if @stories.present? %>
  <% @stories.each do |story| %>
    <%= link_to "#{story.title}", public_story_path(story.id) %>
  <% end %>
<% end %>

<%= link_to "マイページに戻る", my_page_index_path(@user.id) %>