<h2><%= @user.name %>さんのお気に入りのストーリー一覧</h2>

<%= render "public/stories/index", stories: @stories %>

<div>
  <% if user_signed_in? && @user == current_user %>
    <%= link_to "マイページに戻る", public_user_path(current_user.id) %>
  <% else %>
    <%= link_to "ユーザーページに戻る", public_user_path(@user.id) %>
  <% end %>
</div>