<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto'>
      <h2><%= @suggestion.user.name %>さんからの投書</h2>
      <div class = "white">
        <div>
          <h5><%= @suggestion.title %></h5>
        </div>
        <div>
          <%= @suggestion.body %>
        </div>
      </div>
      <div>
        <%= link_to "投書一覧へ戻る", admin_suggestions_path %>
      </div>
    </div>
  </div>
</div>
