@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


a{
  color: midiumblue;
  font-weight: bold;
}

div{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 0 10 10;
}

main{
  margin: 0 50px;
}

//ヘッダー
.bg-light {
  background-color: #87cefa !important;
}

//ヘッダーアイテム
.btn-outline-primary{
  background-color: #e0ffff;
}

.navbar-nav li{
  margin-right: 20px;
}

.search_form{
  margin: auto;
}


body {
  margin-bottom: 60px;
}



.container {
  width: 100%;
  padding: 0 15px;
}


.deeppink {
  color: #ff1493;
}
