@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



a{
  color: midiumblue;
  font-weight: bold;
}

.white{
  background-color: #ffffff;
}

.top-items, .user-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
}

.top-items > div, .user-items > div {
  width: 200px;
  height: 180px;
  margin: 10px;
}



.main-container{
  background-image: url(../../assets/images/digital-diamond.png) ;
  min-height: 550px;
  background-size: cover;
  padding: 30px;
}

//ヘッダー
.bg-light {
  background-color: #87cefa !important;
}

//ヘッダーアイテム
.btn-outline-primary{
  background-color: #e0ffff;
}

.navbar-nav li{
  margin-right: 20px;
}

.search_form{
  margin: auto;
}

.unsubscribe{
  height: 500px;
  text-align: center;
}


//公開チャットルーム
.messages_container{
  width: 100%;
}

.message_container{
  margin-top: 10px;
}

.message_sub_container{
  display: flex;
}

.message_userimage{
  margin-left: 0;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
}

.message_username{
  margin-left: 0;
  width: 500px;
  height: 32px;
}

.message_time{
  margin-left: 0;
  width: 200px;
  height: 32px;
}

.message_body{
  margin-left: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  word-break : break-all;
}

.message_btn{
  width: 35px;
  margin-right: 0;
}


table .td-wrap {
  word-break : break-all;
}

table .td-nowrap{
  white-space: nowrap;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.user-info, .group-info{
  border-radius: 10px;
  background-color: #ffffff;
}

.deeppink {
  color: #ff1493;
  text-align: center;
  padding: 50px 0;
}


.story-title, .story-summary{
  margin: 20px;
  word-break : break-all;
}

.story-body{
  margin: 30px 20px;
  word-break : break-all;
}

.story-comment{
  display: inline-block;
  border: 1px solid #ffd700;
  border-radius: 10px;
}

.comment-form{
  margin-top: 30px;
}

.radio-form{
  display: flex;
}

.radio-form > div{
  margin-right: 30px;
}