<h2>ストーリー</h2>
<table>
  <tbody>
    <% if @stories.present? %>
      <% @stories.each do |story| %>
        <tr>
          <td><%= story.title %></td>
          <td><%= story.body %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>