<h5>グループ<%= @group.name %>に招待するユーザーを選択してください</h5>

<% if @users.present? %>
  <% @users.each do |user| %>
    <% if user.joining?(@group) %>
      <h6>グループ参加中</h6>
    <% else %>
      <%= link_to "招待する", public_group_group_users_path(@group), method: :post do |f| %>
    <% end %>

  <% end %>
<% end %>