<h2>参加しているグループ一覧</h2>
<div>
  <%= link_to "グループを作成する", new_public_group_path %>
</div>

<% if @group_users.present? %>
  <% @group_users.each do |group_user| %>
    <div>
      <%= image_tag group_user.group.get_group_image %>
      <%= link_to group_user.group.name, public_group_path(group_user.group_id)%><br>
      <%= group_user.group.introduction %>
    </div>
  <% end %>
<% else %>
  <div><h5>現在、参加しているグループはありません</h5></div>
<% end %>
