<h2>Users Index</h2>
<table class='table'>
  <tr>
    <% if @users.present? %>
	    <% @users.each do |user| %>
      <td><%= link_to user.name, public_users_path(user.id) %></td>
      <td>コメント数:<%#= story.story_comments.count %></td>
      <% end %>
    <% end %>
  </tr>
</table>
<%= link_to "トップへ戻る", root_path %>