<h2>ユーザー一覧</h2>
<table class='table'>
  <% if @users.present? %>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, public_user_path(user.id) %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<%= link_to "トップへ戻る", root_path %>